body{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #eea92a;
    padding-top: 10px;
    
}
ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    
}
footer{
    display: flex;
    justify-content: center;
}
nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: rgb(65, 55, 55);
}
.logo{
    display: flex;
    justify-content: left;
    margin-left: 6%;
}
.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 20%;
    margin-top: 15px;

}
footer{
    background-color: #eea92a;
    margin-top: 10px;
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;

}
.copyRight{
    display: flex;
    margin-left: 10%;
}
.bottomMenu{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 150px

}
.topImage {
    object-fit: cover;
}
.textOnImage {
    position: absolute;
    margin-top: -115px;
    margin-left: 20%;
    background-color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    padding: 7px 10px 7px 10px;
}
h1 {
    font-weight: bolder;
}
.everydaySection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
    font-weight: bold;
}
.logoCover {
    object-fit: cover;
    width: 235px;
    height: 100px;
}
.everyCover {
    object-fit: cover;
    width: 330px;
    height: 200px;
}
.healthyCover {
    object-fit: cover;
    width: 250px;
    height: 180px;
}
.whereCover {
    object-fit: cover;
    width: 300px;
    height: 200px;
}
.everydayParagraph {
    display: flex;
    margin-top: -10px;
    width: 90%;
    font-size: 20px;
    font-weight: lighter;
}
.imageRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 30px;

}
.healthyImageRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}
.everydaySmallImages{
    display: flex;
    justify-content: center;
    flex-direction: column;
    object-fit:cover;
}
.everydaySmallImages p{
    display: flex;
    justify-content: center;
}

.healthyContainer {
    background-color: #d2e1e6;
    width: 100%;
    padding-bottom: 20px;
}
.healthyWeek {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    width: 85%;
    margin-left: 10%
}
.healthyParagraph {
    font-weight: lighter;
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin-top: 0px;
}
.healthyImages {
    display: flex;
    justify-content: center;
    flex-direction: column;
    object-fit:cover;
}
.healthyImages p{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    margin-top: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: bolder;
    font-size: 18px;
}
.whereToEat {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    margin-left: 10%;
    margin-top: 10px;
    font-weight: bold;

}
.onlyImage {
    display: flex;
    justify-content: center;
    border: 10px solid #d2e1e6;
    margin-bottom: auto;
}
.whereImages p{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 5px;
    padding-bottom: 30px;
}
.where, .wherept2{
    display: flex;
    margin-top: -10px;
    width: 95%;
    font-size: 20px;
    font-weight: lighter;
}
.timeContainer {
    background-color: #d2e1e6;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 30px;
}
.timeContainer h1 {
    display: flex;
    margin-bottom: -10px;
    margin-left: 8%;
}
.timeContainer h3 {
    display: flex;
    margin-bottom: 0px;
}
.description {
    background-color: #d2e1e6;
    width: 80%;
    margin-left: 
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.column {
    display: flex;
    justify-content: flex-start;
    margin-left: 8%;
    /* flex-direction: column; */
}
.quickInfo {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-right:10%;
    /* flex-direction: row; */

}
.quickInfo2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: -45px;
}
.bengalCover {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 385px
}
.bengalRecipe {
    display: flex;
    justify-content: flex-start;
}
.ingredientList{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-left: 5%;
    width: 100%;
}
.directionsList {
    display: flex;
    justify-content: flex-end;
    padding-right: 20%;
    flex-direction: column;
    list-style: decimal;
    gap: 10px;
}
.topImage2 {
    object-fit: cover;
    margin-bottom: -5px;
}