body{
    max-width: 1280px;
    margin-left: 260px;
    margin-right: 260px;
}

header{
    background-color: #eea92a;
    
}

ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    
}
footer{
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: row;
}
.logo{
    display: flex;
    justify-content: left;
    margin-left: 5%;
}
.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 35%;
}

footer{
    background-color: #eea92a;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

}
.copyRight{
    display: flex;
    margin-left: 10%;
}
.bottomMenu{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 150px

}
.topImage {
    object-fit: cover;
}
.textOnImage {
    position: absolute;
    margin-top: -115px;
    margin-left: 20%;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}
.everydaySection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
}
.everydayParagraph {
    display: flex;
    margin-top: -10px;
    width: 80%;
}
.everydaySmallImages{
    display: flex;
    justify-content: space-between;
    /* width: 200px;
    height: 150px; */
    object-fit:cover;
}